body {
  background-color: #e9686b;
  display: grid;
}

div {
  transform: rotate(45deg);
}

img {
  width: 600px;
  height: 200px;
  background-size: contain;
  background-image: url("./webpack.png");
}
